.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/***** LED CSS  *****/
.display-container.display-size-12 {
	margin-bottom: 24px;
}

.display-container {
	position: relative;
	margin-right: 10px;
  float: left;
}

.display-container div.segment-x,
.display-container div.segment-y,
.display-container div.segment-xdot {
	position: absolute;
}

.display-container span.segment-border {
	display: block;
	position: absolute;
}

.display-container.display-size-12 {
	width: 110px;
	height: 220px;
}

.display-container.display-size-12 .segment-x {
	width: 72px;
	left: 13px;
	border-bottom: 12px solid #005ce6;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

.display-container.display-size-12 .segment-x .segment-border {
	top: 12px;
	left: -12px;
	right: -12px;
	border-top: 12px solid #005ce6;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

.display-container.display-size-12 .segment-xdot {
  width: 26px;
  left: 10px;
  border-bottom: 12px solid #005ce6;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.display-container.display-size-12 .segment-xdot .segment-border {
	top: 12px;
	left: -4px;
	right: -4px;
	border-top: 12px solid #005ce6;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.display-container.display-size-12 .segment-y {
	height: 72px;
	width: 0;
	border-right: 12px solid #005ce6;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

.display-container.display-size-12 .segment-y .segment-border {
	position: relative;
	left: 12px;
	height: 72px;
	margin-top: -12px;
	border-left: 12px solid #005ce6;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

.display-container.display-size-12 .segment-a {
	top: 0;
}

.display-container.display-size-12 .segment-b {
	top: 13px;
	left: 75px;
}

.display-container.display-size-12 .segment-c {
	top: 88px;
	left: 75px;
}

.display-container.display-size-12 .segment-d {
	top: 150px;
}

.display-container.display-size-12 .segment-e {
	top: 88px;
	left: 0px;
}

.display-container.display-size-12 .segment-f {
	top: 13px;
	left: 0px;
}

.display-container.display-size-12 .segment-g {
	top: 75px;
}

.display-container.display-size-12 .segment-dot {
  top: 150px;
}

.display-no-1 .segment-a,
.display-no-1 .segment-d,
.display-no-1 .segment-e,
.display-no-1 .segment-f,
.display-no-1 .segment-g,
.display-no-1 .segment-xdot {
	/*display: none;*/
	opacity: 0.1;
	filter: alpha(opacity=10);
}

.display-no-2 .segment-c,
.display-no-2 .segment-f,
.display-no-2 .segment-xdot {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-3 .segment-e,
.display-no-3 .segment-f,
.display-no-3 .segment-xdot {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-4 .segment-a,
.display-no-4 .segment-d,
.display-no-4 .segment-e,
.display-no-4 .segment-xdot {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-5 .segment-b,
.display-no-5 .segment-e,
.display-no-5 .segment-xdot {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-6 .segment-b,
.display-no-6 .segment-xdot {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-7 .segment-d,
.display-no-7 .segment-e,
.display-no-7 .segment-f,
.display-no-7 .segment-g,
.display-no-7 .segment-xdot,
.display-no-7 .segment-dot  {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-8 {}

.display-no-8 .segment-xdot {
  opacity: 0.1;
}

.display-no-9 .segment-e,
.display-no-9 .segment-xdot {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-0 .segment-g,
.display-no-0 .segment-xdot {
	/*display: none;*/
	opacity: 0.1;
}

.display-dot .segment-a,
.display-dot .segment-b,
.display-dot .segment-c,
.display-dot .segment-d,
.display-dot .segment-e,
.display-dot .segment-f,
.display-dot .segment-g {
	/*display: none;*/
	opacity: 0.1;
}


#display-2, #display-4 {
	margin-right: 60px;
}

.vertical-center {
  display: block;
  position: relative;
	width: 100%;
	height: 300px;
}

.led-container {
  margin: 5px auto;
  padding: 20px 0;
  position: relative;
  display: inline-block;
}
