.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 170px;
  background-color: #223;
  /*background-size: auto;
  background: url("./infinity.jpg") no-repeat center;*/
  padding: 20px;
  color: white;
}

.App-intro {
  padding: 30px;
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/***** FOOTER *******/
.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  height: 250px;
  background-size: cover;
  background: url("./spiderback.jpg") no-repeat center;
}

/***** LED CSS  *****/
.display-container.display-size-12 {
	margin-bottom: 24px;
}

.display-container {
	position: relative;
	margin-right: 10px;
  float: left;
}

.display-container .segment-x,
.display-container .segment-y,
.display-container .segment-xdot {
	position: absolute;
}

.display-container .segment-border {
	display: block;
	position: absolute;
}

.display-container.display-size-12 {
	width: 110px;
	height: 220px;
}

.display-container.display-size-12 .segment-x {
	width: 72px;
	left: 13px;
	border-bottom: 12px solid #005ce6;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
  /*opacity: 0.1;*/
}

.display-container.display-size-12 .segment-x .segment-border {
	top: 12px;
	left: -12px;
	right: -12px;
	border-top: 12px solid #005ce6;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

.display-container.display-size-12 .segment-xdot {
  width: 26px;
  left: 10px;
  border-bottom: 12px solid #005ce6;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.display-container.display-size-12 .segment-xdot .segment-border {
	top: 12px;
	left: -4px;
	right: -4px;
	border-top: 12px solid #005ce6;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.display-container.display-size-12 .segment-y {
	height: 72px;
	width: 0;
	border-right: 12px solid #005ce6;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
  /*opacity: 0.1;*/
}

.display-container.display-size-12 .segment-y .segment-border {
	position: relative;
	left: 12px;
	height: 72px;
	margin-top: -12px;
	border-left: 12px solid #005ce6;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

.display-container.display-size-12 .segment-a {
	top: 0;
}

.display-container.display-size-12 .segment-b {
	top: 13px;
	left: 75px;
}

.display-container.display-size-12 .segment-c {
	top: 88px;
	left: 75px;
}

.display-container.display-size-12 .segment-d {
	top: 150px;
}

.display-container.display-size-12 .segment-e {
	top: 88px;
	left: 0px;
}

.display-container.display-size-12 .segment-f {
	top: 13px;
	left: 0px;
}

.display-container.display-size-12 .segment-g {
	top: 75px;
}

.display-container.display-size-12 .segment-dot {
  top: 150px;
}

.led-off .segment-a,
.led-off .segment-b,
.led-off .segment-c,
.led-off .segment-d,
.led-off .segment-e,
.led-off .segment-f,
.led-off .segment-g,
.led-off .segment-dot  {
  opacity: 0.1;
  border-color: #55ffee;
}

#display-2, #display-4 {
	margin-right: 60px;
}

.vertical-center {
  display: block;
  position: relative;
	width: 100%;
	height: 300px;
}

.led-container {
  margin: 5px auto;
  padding: 20px 0;
  position: relative;
  display: inline-block;
}

/******* SLIDER *******/
.slider-container {
  margin: 25px auto;
  width: 300px;
  display: block;
  text-align: center;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #2471a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0.7px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2982c2;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #2471a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0.7px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #1f6090;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #2471a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0.7px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2471a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2982c2;
}
